:root {
  --primary-color: #f1641e;
  --primary-hover-color: #ed6521;
  --primary-text-color: #222;
  --white-btn-color: #ffffff;
  --white-btn-hover-color: #0e0e0e17;
  --linked-btn-hover-color: #ccebff;
}

/* Reset margins, paddings, and box-sizing */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Remove default body styles */
body {
  font-family: sans-serif; /* Set your preferred font */
  line-height: 1.5; /* Improve readability */
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
}

/* Set span default styles */
span {
  color: var(--primary-text-color);
  font-size: 13px;
}

/* Remove default list styles */
ul,
ol {
  list-style: none;
}

/* Remove default button styles */
button {
  all: unset;
  display: inline-block;
  cursor: pointer;
  transition: padding 0.1s ease-in-out, background-color 0.1s ease-in-out;
}

/* Remove "a" default styles */
a {
  text-decoration: none;
  color: inherit;
}

/* Remove default input and textarea styles */
input,
textarea {
  border: none;
  outline: none;
  font: inherit;
}

/* Images */
img {
  max-width: 100%;
  object-fit: cover;
  display: block;
}

/* Set center div */
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* white button hover */
.wht-btn {
  padding: 15px 0; /* Initial padding */
  border-radius: 25px;
  background-color: var(--white-btn-color);
}

.wht-btn:hover {
  padding: 15px 25px; /* Increase left & right padding */
  background-color: var(--white-btn-hover-color);
}

/* linked button */
.linked-btn {
  padding: 0px;
  border-radius: 100%;
  background-color: var(--white-btn-color);
}

.linked-btn:hover {
  padding: 20px; /* Increase left & right padding */
  background-color: var(--linked-btn-hover-color);
}

div {
  width: 100%;
  height: 90vh;
}

.test {
  font-family: "Love Light", sans-serif;
  font-size: 50px;
  color: var(--primary-color);
  font-weight: bold;
}
